## Git will track changes to all the files and folders in this directory, but there are some files we want it to ignore. 
## We do this by creating a file called .gitignore in the base directory. 

# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# Local
Notes.txt
python_intro.py
tutorial.ipynb